.comment {
   font-family: 'Mulish';
   margin-bottom: 99px;

   &__title {
      font-weight: 700;
      font-size: 36px;
      line-height: 45px;
      text-align: center;
      text-transform: uppercase;
      color: #555555;
      margin-bottom: 50px;
   }

   &-slider {
      position: relative;
      overflow: hidden;
      &__item {
         display: flex;
         flex-direction: column;
         align-items: center;
      }
      &__avatar {
         width: 88px;
         height: 88px;
         border-radius: 50%;
         overflow: hidden;
         margin-bottom: 28px;
      }

      &__text {
         max-width: 566px;
         font-weight: 400;
         font-size: 16px;
         line-height: 150%;
         text-align: center;
         color: #515151;
         margin-bottom: 36px;
      }

      &__name {
         font-weight: 600;
         font-size: 24px;
         line-height: 120%;
         text-align: center;
         color: #555555;
         margin-bottom: 8px;
      }

      &__spec {
         font-family: 'Rubik';
         font-style: normal;
         font-weight: 400;
         font-size: 16px;
         line-height: 125%;
         text-align: center;
         color: #515151;
      }

      .swiper-button-next {
         color: #d9d9d9;
         transition: all 0.3s ease;
         &:hover {
            color: $main-color;
            transform: scale(1.1);
         }
      }

      .swiper-button-prev {
         color: #d9d9d9;
         transition: all 0.3s ease;
         &:hover {
            color: $main-color;
            transform: scale(1.1);
         }
      }
   }
}

@media (max-width: 992px) {
   .comment {
      &__title {
         font-size: 32px;
      }
   }
}

@media (max-width: 768px) {
   .comment {
      &__title {
         font-size: 30px;
         margin-bottom: 40px;
      }
      &-slider {
         &__button {
            display: none;
         }
      }
   }
}

@media (max-width: 576px) {
   .comment {
      margin-bottom: 70px;
      &__title {
         font-size: 24px;
         margin-bottom: 30px;
      }
      &-slider {
         &__avatar {
            width: 75px;
            height: 75px;
         }
         &__text {
            margin-top: 0;
            font-size: 14px;
            line-height: 20px;
         }
         &__name {
            font-size: 20px;
         }
         &__spec {
            font-size: 14px;
         }
      }
   }
}