.header {
   display: none;
    font-family: 'Rubik';
    margin-bottom: 12px;
    position: relative;
    z-index: 10;
    &-top {
        background: $main-color;
        height: 50px;
        &__wrapper {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: #fff;
        }
    }

    &__welcome {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
    }

    &__settings {
        display: flex;
        align-items: center;
       span {
            display: block;
            height: 19px;
            width: 2.2px;
            background: #fff;
        } 
    }
        
    &__lang {
        background: inherit;
        border: none;
        color: inherit;
        margin-right: 20px;
        cursor: pointer;
    }

    &__login {
        font-size: 16px;
        line-height: 19px;
        color: inherit;
        margin-left: 20px;
        text-decoration: none;
    }

    
    &__logo {
        margin-right: 120px;
    }

    &-main {
       background-color: #fff;
        height: 92px;

        &__wrapper {
            display: flex;
            align-items: center;
            height: 100%;
        }

    }

    &-form {
        display: flex;
        width: 582px;
        height: 46px;
        border: 2px solid #7AC751;
        border-radius: 8px;
        overflow: hidden;
        &__search {
        height: 100%;
        width: 403px;
        border: none;
        padding: 15px 25px;
        font-size: 14px;
        line-height: 17px;
        color: #B0B0B0;
    }

    &__select {
        width: 123px;
        height: 100%;
        padding: 12px 10px;
        font-size: 14px;
        border: none;
        line-height: 17px;
        color: #555555;
        background-color: #fff;
        border-left: 1.5px solid rgba(227, 227, 227, 0.78);
        cursor: pointer;
    }

   }

    &-user {
        margin-left: auto;
        &__list {
            display: flex;
            align-items: center;
            justify-content: center;
            list-style-type: none;
            gap: 21px;
        }
        &__item {
            width: 21px;
            height: 21px;
        }
        &__icon {
           width: 24px;
           height: 24px;
           fill: #555555;
        }
    }

    &-nav {
        background: #F7F8FA;
        &__wrapper {
           position: relative;
            display: flex;
            align-items: center;
        }
        &__list {
            display: flex;
            align-items: center;
            justify-content: space-between;
            list-style-type: none;
            padding: 0;
            margin: 0;
            width: 506px;
        }
        &__link {
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #555555;
            text-decoration: none;
            transition: color 0.3s linear;
            &:hover {
               color: $main-color;
               text-decoration: underline;
            }
        }
        .icon {
           display: block;
           width: 24px;
           height: 24px;
           fill: #fff;
        }
    }

    .menu {
       overflow: hidden;
       position: absolute;
       top: -384px;
       left: 0;
       z-index: -1;
       transition: opacity 0.3s linear;
       opacity: 0;
       &--active {
          z-index: 1;
          opacity: 100%;
          top: 67px;
       }
       &__list {
          width: 261px;
          max-height: 454px;
          overflow: auto;
          padding: 0;
          margin: 0;
          list-style-type: none;
       }
       &__item {
          width: 100%;
          height: 41px;
          padding: 10px 29px 14px 29px;
          background-color: #F7F8FA;
          cursor: pointer;
          border-bottom: 0.8px solid #E3E3E3;
          transition: all 0.2s linear;
          &:last-child {
             border: none;
          }
          &:hover {
            background-color: #c2c4c9;
          }
       }
       &__link {
          cursor: pointer;
         font-weight: 400;
         font-size: 14px;
         line-height: 17px;
         color: #555555;
         text-decoration: none;
       }
    }
   
    .simplebar-track.simplebar-vertical {
       background-color: #d9d9d9;
       width: 5px;
    }
    .simplebar-scrollbar::before {
       left: 0;
       top: 0;
       right: 0;
       bottom: 0;
       background-color: $main-color;
       border-radius: 3px;
       opacity: 1;
    }

}