.products {
  font-family: 'Mulish';
  margin-bottom: 120px;
  &__title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    color: #555555;
    margin-bottom: 45px;
    }

   .tabs {
      &__pagination {
         display: flex;
         align-items: center;
         justify-content: center;
         margin-bottom: 73px;
      }

      &__content {
         display: flex;
         align-items: center;
         flex-wrap: wrap;
         justify-content: space-between;
      }

      &__tab {
         margin: 0 33px;
         font-weight: 600;
         font-size: 24px;
         line-height: 30px;
         color: #C2C2C2;
         cursor: pointer;
         &--active {
            color: $main-color;
         }
      }
   }

   .card {
      &:hover {
         .activities {
            &__item {
               &:hover {
                  background-color: $main-color;
                  .activities__icon {
                     fill: #fff;
                  }
               }
            }
         }
      }
   }

   .pages {
      &-form {
         display: flex;
         align-items: center;
         justify-content: end;
      }

      &__number {
         width: 58px;
         height: 29px;
         border: 1px solid #CCC;
         border-radius: 2px;
         display: flex;
         align-items: center;
         justify-content: center;
         margin-right: 19px;
         font-weight: 400;
         font-size: 18px;
         color: #757575;
      }
      &__label {
         margin-right: 9px;
         font-size: 18px;
         color: #757575;
      }
      &__off {
         display: block;
         font-weight: 400;
         font-size: 18px;
         line-height: 130%;
         color: #757575;
         margin-right: 23px;
      }
   }
}
