.promo {
   font-family: 'Rubik';
   height: 439px;
   margin-bottom: 65px;
   &__wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      margin-left: auto;
      background: rgba(241, 250, 255, 0.88);
      transition: all 0.3s linear;
      &--active {
         width: 899px;
      }
   }
   &-slider {
      height: 100%;
      width: 755px;
      overflow: hidden;
      &__item {
         padding: 73px 0 73px 47px;
         background: rgba(241, 250, 255, 0.88);
         position: relative;
      }

      &__collection {
         display: block;
         font-weight: 400;
         font-size: 22px;
         line-height: 26px;
         color: $main-color;
         margin-bottom: 6px;
      }

      &__title {
         font-weight: 500;
         font-size: 40px;
         line-height: 47px;
         color: #2F2F2F;
         margin-bottom: 27px;
      }

      &__desc {
         display: block;
         font-weight: 600;
         font-size: 27px;
         line-height: 26px;
         color: rgba(81, 81, 81, 0.71);
         margin-bottom: 35px;
      }

      &__image {
         position: absolute;
         width: 360px;
         left: 381px;
         top: 36px;
      }

      .swiper-pagination {
         display: flex;
         align-items: center;
         justify-content: center;
         bottom: -160px;
      }
      .swiper-pagination-bullet {
         width: 12px;
         height: 12px;
         background: rgba(122, 199, 81, 0.29);
         transition: all 0.2s ease;
         border: 1px solid $main-color;
      }
      .swiper-pagination-bullet-active{
         width: 24px;
         height: 12px;
         background: $main-color;
         border-radius: 20px;
      }
   }
   .mini-slider {
      height: 322px;
      width: 144px;
      overflow: hidden;
      &__wrapper {
         background: rgba(241, 250, 255, 0.88);
      }
      &__item {
         width: 98px;
         height: 91px;
         background: #fff;
         border-radius: 8px;
         display: flex;
         flex-direction: column;
         align-items: center;
         padding: 3px 16px;
         overflow: hidden;
         cursor: pointer;
      }

      &__image {
         max-height: 57px;
         max-width: 79px;
         display: flex;
         align-items: center;
         justify-content: center;
         img {
            max-width: 100%;
         }
      }
      &__price {
         font-weight: 500;
         font-size: 7px;
         color: $main-color;
      }
      &__name {
         font-weight: 500;
         font-size: 7px;
         line-height: 26px;
         color: #555555;
      }
   }
}

@media (max-width: 1200px) {
   .promo {
      &__wrapper {
         &--active {
            width: 700px;
            .promo {
               &-slider {
                  width: 600px;
                  &__collection {
                     font-size: 20px;
                  }
                  &__title {
                     font-size: 32px;
                     line-height: 40px;
                  }
                  &__desc {
                     font-size: 24px;
                  }
                  &__image {
                     width: 230px;
                     left: 330px;
                     top: 70px;
                  }
               }
            }
         }
      }
   }
}

@media (max-width: 992px) {
   .promo {
      height: 360px;
      &__wrapper {
         &--active {
            width: 500px;
            .promo-slider {
               &__image {
                  display: none;
               }
            }
         }
      }
      &-slider {
         width: 600px;
         &__item {
            padding: 50px 0 50px 40px;
         }
         &__collection {
            font-size: 20px;
         }
         &__title {
            font-size: 32px;
            line-height: 40px;
         }
         &__desc {
            font-size: 24px;
         }
         &__image {
            width: 250px;
            left: 330px;
         }
         .swiper-pagination {
            bottom: -70px;
         }
      }
   }
}

@media (max-width: 768px) {
   .promo {
      height: 420px;
      &__wrapper {
         height: 100%;
         flex-direction: column;
         justify-content: start;
      }
      &-carusel {
         width: 100%;
         padding: 0 20px;
         background: rgba(241, 250, 255, 0.88);
      }
      &-slider {
         width: 100%;
         height: 280px;
         &__item {
            padding: 30px;
         }
         &__collection {
            font-size: 18px;
         }
         &__title {
            font-size: 24px;
            line-height: 30px;
         }
         &__desc {
            font-size: 18px;
            line-height: 24px;
         }
         &__image {
            width: 190px;
            left: 320px;
         }
      }
      .mini-slider {
         width: 100%;
         height: 120px;
         &__wrapper {
            width: 100%;
         }
         &__image {
            max-width: 60px;
         }
      }
   }
}

@media (max-width: 568px) {
   .promo {
      height: 280px;
      &-slider {
         &__image {
            z-index: -1;
            left: 70%;
            transform: translateX(-50%);
            opacity: 0.3;
         }
      }
      .mini-slider {
         display: none;
      }
   }
}