.support {
  font-family: 'Rubik';
  margin-bottom: 70px;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between
  }
  &__item {
    width: 224px;
    display: flex;
    align-items: center;
  }
  &__icon {
      display: block;
      width: 58px;
      height: 58px;
      fill: $main-color;
      margin-right: 15px;
  }
  &__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #555555;
    margin: 0;
  }
  &__desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: rgba(81, 81, 81, 0.71);
  }
}

@media ( max-width: 1200px ) {

}

@media ( max-width: 992px ) {
   .support {
      &__wrapper {
         flex-wrap: wrap;
         gap: 10px;
      }
      &__item {
         flex: 0 1 48%;
      } 
   }
}

@media (max-width: 576px) {
   .support {
      margin-bottom: 50px;
      &__item {
         flex: 0 1 100%;
         border-bottom: 1px solid #d9d9d9;
         padding-bottom: 10px;
         &:last-child {
            border-bottom: 0;
            padding-bottom: 0;
         }
      }
   }
}