.trending {
  font-family: 'Rubik';
  &__title {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    color: #555555;
    text-align: center;
    margin-bottom: 45px;
  }
  .tabs {
    &__pagination {
      font-family: 'Mulish';
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 73px;
    }
    &__tab {
      font-weight: 600;
      font-size: 24px;
      line-height: 30px;
      color: #C2C2C2;  
      margin: 0 35px;
      cursor: pointer;
      text-decoration: none;
      &--active {
        color: $main-color;
      }
    }
    &__slider {
       display: none;
       &--active {
          display: block;
       }
    }
  }
  
  .slider {
    &__pages {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

}

@media (max-width: 1200px) {
   .trending {
      .slider {
         &__pages {
            justify-content: space-around;
         }
      }
   }
}

@media (max-width: 768px) {
   .trending {
      .tabs {
         &__pagination {
            margin-bottom: 50px;
         }
         &__tab {
            font-size: 18px;
            line-height: 24px;
            margin: 0 20px;
         }
      }
      .slider {
         &__pages {
            justify-content: space-around;
         }
         .card {
            width: 230px;
            height: 300px;
            &__image {
               height: 180px;
               display: flex;
               align-items: center;
               justify-content: center;
               overflow: hidden;
            &:hover {
               .activities {
                  top: 0;
                  right: 5px;
                  flex-direction: row;
               }
            }
         }
      }
   }
}
}

@media (max-width: 567px) {
   .trending {
      &__title {
         font-size: 24px;
         line-height: 30px;
         margin-bottom: 40px;
      }
      .tabs {
         &__tab {
            text-align: center;
            margin: 0;
            min-height: 40px;
            padding: 5px 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $main-color;
            color: #fff;
            border: 1px solid #fff;
            transition: all 0.2s linear;
            &--active {
               color: $main-color;
               background-color: #fff;
               box-shadow: 0 0 5px 5px rgba(37, 44, 43, 0.2) inset;
            }
         }
      }
   }
}