.trending {
  font-family: 'Rubik';
  &__title {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    color: #555555;
    text-align: center;
    margin-bottom: 45px;
  }
  .tabs {
    &__pagination {
      font-family: 'Mulish';
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 73px;
    }
    &__tab {
      font-weight: 600;
      font-size: 24px;
      line-height: 30px;
      color: #C2C2C2;  
      margin: 0 35px;
      cursor: pointer;
      &--active {
        color: $main-color;
      }
    }
  }
  
  .slider {
    &__pages {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .card {
      position: relative;
      width: 270px;
      height: 387px;
      margin-top: 45px;

      &:nth-child(-n + 4) {
         margin: 0;
      }

      &__image {
        width: 100%;
        height: 288px;
        margin-bottom: 15px;
        img {
          width: 100%;
        }
      }
      &__style {
        display: block;
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        letter-spacing: 0.008em;
        text-transform: uppercase;
        color: rgba(117, 117, 117, 0.71);
        margin-bottom: 9px;
      }
      &__model {
        display: block;
        font-weight: 400;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.005em;
        color: #555555;
        margin-bottom: 8px;
        }
        &__footer {
          display: flex;
          align-items: center;
        }
        &__price {
          font-weight: 700;
          font-size: 18px;
          line-height: 120%;
          color: $main-color;
          margin-right: 7px;
          &--old {
            font-weight: 600;
            text-decoration: line-through;
            color: #CCCCCC;
            margin: 0;
          }
        }
        .rating {
          margin-left: auto;
          width: 67px;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      &__label {
        font-family: 'Mulish';
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44.68px;
        height: 20.42px;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        color: #FFFFFF;
        border-radius: 0px 0px 5px 0px;
        &--new {
          background: #00B7F1;
        }
        &--sale {
          background: $main-color;
        }
      }
      .activities {
        display: none;
      }
      &:hover {
        .activities {
          position: absolute;
          top: 91px;
          right: 7px;
          height: 182px;
          width: 39px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          &__item {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 39px;
            height: 39px;
            border-radius: 50%;
            background-color: #fff;
            cursor: pointer;
            transition: all 0.2s linear;
            &:hover {
              background-color: transparent;
            }
          }
        }
      }
    }
  }

}