.container {
    width: 1172px;
    height: 100%;
    margin: 0 auto;
   &--footer-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
   }
   &--footer-bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 400;
      font-size: 14px;
      line-height: 14px;
      color: #555555;
   }

   &--promo {
      display: flex;
      justify-content: end;
      height: 100%;
   }
}

.button {
    background: $main-color;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    color: #fff;
    transition: all 0.2s linear;
    &__icon {
       width: 16px;
       height: 16px;
       fill: #fff;
    }
    &--header {
        height: 100%;
        width: 56px;
    }
    &--nav {
        width: 260px;
        height: 67px;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        margin-right: 82px;
        &:hover {
         border: 1px solid $main-color;
         background-color: #fff;
         color: $main-color;
         box-shadow: 0 0 5px 5px rgba(0,0,0,0.2);
         .icon {
            stroke: $main-color;
         }
       }
        .icon {
           display: block;
           width: 20px;
           height: 20px;
           stroke: #fff;
           margin-right: 20px;
        }
    }
    &--special {
        width: 91px;
        height: 26px;
        font-weight: 700;
        font-size: 12px; 
        &:hover {
         border: 1px solid $main-color;
         background-color: #fff;
         color: $main-color;
         box-shadow: 0 0 5px 5px rgba(0,0,0,0.2);
       }
    }
    &--products {
       width: 161px;
       height: 43px;
      font-weight: 600;
      font-size: 18px;
      margin-right: 143px;
      border-radius: 5px;
      &:hover {
         border: 1px solid $main-color;
         background-color: #fff;
         color: $main-color;
         box-shadow: 0 0 5px 5px rgba(0,0,0,0.2);
       }
      img {
         margin-left: 10px;
      }
    }
    &--next-page {
       width: 29px;
       height: 29px;
       border-radius: 0 2px 2px 0;
    }
    &--prev-page {
       width: 29px;
       height: 29px;
       border-radius: 2px 0 0 2px;
    }

    &--promo {
      width: 129px;
      height: 40px;
      border-radius: 5px;
      font-weight: 700;
      font-size: 16px;
      text-transform: uppercase;
      &:hover {
         border: 1px solid $main-color;
         background-color: #fff;
         color: $main-color;
         box-shadow: 0 0 5px 5px rgba(0,0,0,0.2);
       }
    }
}
@media (max-width: 1200px) {
   .container {
      width: 960px;
   }
}

@media (max-width: 992px) {
   .container {
      width: 720px;
      &--footer-top {
         flex-wrap: wrap;
      }
   }
}

@media (max-width: 768px) {
   .container {
      width: 540px;
   }
}

@media (max-width: 576px) {
   .container {
      width: 100%;
      padding: 0 10px;
      &--footer-bottom {
         flex-direction: column;
         justify-content: space-around;
      }
   }
   .button {
      &--products {
         display: none;
      }
   }
}