body {
   font-family: 'Work', sans-serif;
   background-color: $light;
}

body.lock {
   overflow: hidden;
}

.main {
   &__screen {
      margin-bottom: 64px;
   }
}

.title {
   font-weight: 700;
   font-size: 14px;
   line-height: 16px;
   color: $secondary;
   margin-bottom: 8px;
   text-align: center;
   &--about {
      text-align-last: left;
   }

   @media screen and (min-width: 1040px) {
      font-size: 18px;
      line-height: 21px;
  }
}

.subtitle {
   font-family: 'YeseveOne', sans-serif;
   font-weight: 400;
   font-size: 24px;
   line-height: 28px;
   color: $primary;
   margin-bottom: 8px;
   text-align: center;
   &--left {
      text-align: left;
   }
   &--card-article {
      text-align: left;
   }
   &--categories {
      text-align-last: left;
   }
   &--main {
      font-size: 32px;
      line-height: 37px;
   }
   &--m0 {
      margin: 0;
   }

   @media screen and (min-width: 1040px) {
      font-size: 32px;
      line-height: 37px;
      margin-bottom: 64px;
      &--book {
         text-align-last: left;
      }
      &--card-article {
         margin-bottom: 16px;
      }
      &--main {
         font-size: 48px;
         line-height: 55px;
      }
      &--m0 {
         margin: 0;
      }
  }
}

.social {
   display: flex;
   align-items: center;
   justify-content: center;
   padding-bottom: 16px;
   &__item {
      margin: 0 10px;
      &:hover {
         .icon {
            fill: $secondary;
            transform: scale(1.1);
         }
      }
   }
   .icon {
      width: 24px;
      height: 24px;
      fill: $primary;
      transition: all 0.2s ease-in-out;
   }
}

